var config = {
    mode: "webhook", //webhook or polling
    admin: "root@ayaka.moe",
    token : "API Key Here",
    nickname : "Nickname for your Bot",
    username : "Username for your Bot",
    webhook : {
        url: "Webhook url here",
        path: "Webhook path here",
        truePort: 8500,
        port: Webhook port here
    },
    proxy : "127.0.0.1:1087"
}

module.exports = config;