var config = {
    token : "API Key Here",
    nickname : "Nickname for your Bot",
    username : "Username for your Bot",
    webhook : {
        url: "Webhook url here",
        path: "Webhook path here",
        port: Webhook port here
    },
    proxy : "127.0.0.1:1087",
    plugins: {
        flightTrack: {
            enable: true,
            version: "0.1.0",
            locale: "en-US" //Options: zh-CHS (Simplified Chinese), 
                            //          zh-CHT (Traditional Chinese), 
                            //          en-US (English: United States)

        }
    }
}

module.exports = config;